#### 리스트
- 여러 개의 데이터를 하나의 모음(집합)으로 다루고 싶을 때 사용하는 대표적인 자료형.

In [2]:
list1 = [1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [8]:
# type은 말 그대로 변수의 타입을 구할 때 사용!
type(list1)

list

In [9]:
# 원소가 1개인 리스트
list2 = [10]
print(list2)
print(type(list2))

[10]
<class 'list'>

In [10]:
# list()함수에 배열을 입력하지 않으면 원소가 없는 빈 리스트 생성
list3 = list()
print(list3)

[]

In [11]:
# 원소를 추가하지 않고 대괄호만 입력하는 방법으로도 빈 리스트 생성 가능!
list4 = []
list4

[]

#### 리스트를 원소로 갖는 리스트
- 모든 종류의 파이썬 객체는 리스트의 원소가 될 수 있다.
- 리스트도 다른 리스트의 원소가 될 수 있다.

In [12]:
list_of_list = [list1,list2,list3]
list_of_list

[[1, 2, 3, 4, 5], [10], []]

In [13]:
# 리스트를 담는 리스트이므로 타입도 리스트이다.
type(list_of_list)

list

#### 리스트 인덱싱
- 문자열의 인덱싱과 비슷하며, 인덱스는 0번 부터 시작한다.

In [14]:
list_of_list[0]

[1, 2, 3, 4, 5]

In [16]:
#리스트 모음에서 0번 리스트의 1번 인덱스 값을 가져오려면?
list_of_list[0][1]

2

In [17]:
#list_of_list의 마지막 원소를 추출하려면 인덱스 -1을 사용한다..
list_of_list[-1]

[]

In [19]:
# 인덱스 위치를 뒤에서부터 카운트할 수 있다.
list_of_list[-3]

[1, 2, 3, 4, 5]

#### 리스트 슬라이싱
- 리스트 원소의 위치(인덱스) 범위를 지정하여 여러 개의 원소를 추출한다.
- 문자열 슬라이싱 방법과 비슷하다.

In [20]:
# list_of_list에서 2개의 리스트 가져오기
list_of_list[0:2]

[[1, 2, 3, 4, 5], [10]]

#### 리스트에 새로운 원소 추가
- 리스트의 맨 뒤에 새로운 원소를 추가할 수 있다.
- 리스트 객체에 도트(.)연산자를 이용하여 append 메소드를 적용한다.

In [22]:
# list1에 100 값을 추가(6번째 원소로 들어간다.)
list1.append(100)
list1

[1, 2, 3, 4, 5, 100, 100]

In [36]:
# 원소가 없는 리스트인 list3에 원소 추가해보기

list3.append(7)
list3.append(8)
list3.append(9)

In [37]:
list3

[7, 8, 9]

#### 튜플(tuple)
- 리스트 자료구조와 형태가 비슷하다 (여러 원소를 순서대로 저장할 수 있고 각 원소를 쉼표로 구별한다)
- 리스트는 [] 안에 원소를 입력하는 형태지만, 튜플은 ()안에 원소를 입력한다.
- 튜플은 리스트와 다르게 원소를 추가하거나 삭제할 수 없다.
- 프로그램이 실행되는 동안 데이터의 순서와 값이 바뀌지 않아야 하는 경우에 주로 사용한다!

In [40]:
# 튜플에 값 넣기
tuple1 = (1,2)
tuple1

(1, 2)

In [41]:
# 튜플의 타입은 tuple
type(tuple1)

tuple

In [42]:
tuple2 = ("a","b",100)
tuple2

('a', 'b', 100)

In [44]:
# 원소가 없는 빈 튜플을 만드는 두가지 방법 tuple함수를 사용하거나, 빈 괄호를 사용한다.

tuple3 = tuple()
tuple4 = ()
print(tuple3)
print(tuple4)

()
()

- 리스트와 마찬가지로 원소의 위치를 나타내는 인덱스는 0부터 시작한다
- 인덱스의 범위를 지정하여 선택하는 슬라이싱 방법도 적용 가능!

In [46]:
tuple2[0]

'a'

In [47]:
tuple2[1:]

('b', 100)

#### 딕셔너리(Dictonary)
- 여러 개의 원소를 담는 자료형 중에서는 딕셔너리의 형태는 독특하다
- 키(key) : 값 (value) 쌍으로 원소를 갖는데 중괄호 안에 원소(키:값)를 쉼표(,)로 구분하여 입력한다.

In [51]:
# 딕셔너리 값 입력하기
dict1 = {'name':'Jay', 'age':20}
dict1

{'name': 'Jay', 'age': 20}

In [52]:
# dictonary의 타입출력
type(dict1)

dict

In [56]:
dict1['name']

'Jay'

In [57]:
dict1['age']

20

- 딕셔너리에 원소를 추가하려면 추가하려는 원소의 키를 대괄호[] 안에 입력하고, 짝이되는 값을 대입 연산자(=) 오른쪽에 입력한다.

In [58]:
dict1['grade'] = [3.0, 4.0, 3.5, 4.2]
dict1

{'name': 'Jay', 'age': 20, 'grade': [3.0, 4.0, 3.5, 4.2]}

In [61]:
# 딕셔너리의 키를 따로 추출하는 방법 --> 도트(.) 연산자를 사용하여 keys()메소드를 적용한다.
dict1.keys()

dict_keys(['name', 'age', 'grade'])

In [62]:
# 딕셔너리의 값을 따로 추출하는 방법 --> values() 메소드를 사용한다.
dict1.values()

dict_values(['Jay', 20, [3.0, 4.0, 3.5, 4.2]])

In [63]:
# items() 메소드를 사용하면, (키, 값) 형태의 튜플 구조로 키와 매칭되는 값을 함께 추출한다.
dict1.items()

dict_items([('name', 'Jay'), ('age', 20), ('grade', [3.0, 4.0, 3.5, 4.2])])

####  if() 조건문
- 참일 경우 명령문 실행 
- 거짓일 경우 if문 종료 다음 코드 실행

In [65]:
# if문 사용법
a = 4
if a%2 ==0:
    print("a는 짝수")
    print("a는 2의 배수")

a는 짝수
a는 2의 배수

In [66]:
if a %2!=0:
    print("a는 홀수")

#### if ~ else 문
- 조건을 만족하는 경우와 그렇지 않은 경우를 구분하여 프로그램을 제어할 때 사용

In [67]:
b = 7
if b%2 ==0:
    print("b는 짝수")
else:
    print("b는 홀수")

b는 홀수

#### 여러 조건을 중첩하여 적용 (if~elif~else)
- 서로 다른 조건식을 여러 개 중첩하여 적용할 수 있다.

In [68]:
c = -1

if c>0:
    print("c는 양수")
elif c<0:
    print("c는 음수")
else:
    print("c는 0")

c는 음수

#### for 반복문
- 동일한 명령을 여러 번 반복적으로 처리하고 싶을 때 사용한다.

In [70]:
# num_list의 첫번째 원소인 1이 num 변수에 할당되어 print 명령으로 실행된다.
num_list = [1,2,3]
for num in num_list:
    print(num)

1
2
3

In [72]:
for num in [1,2,3]:
    print("기존 : ", num)
    print("2배 : ", num*2)
    print("\n")

기존 :  1
2배 :  2


기존 :  2
2배 :  4


기존 :  3
2배 :  6

In [73]:
# for문을  이용하여 리스트에 원소를 추가하는 방법

double = []
for num in [1,2,3]:
    double.append(num*2)

print(double)

[2, 4, 6]

#### while 반복문
- 조건식을 만족하는 True인 경우 명령문을 실행하고 다시 조건식을 비교하는 과정을 무한 반복한다.
- 조건식을 만족하지 못하는 False일 때는 반복문이 종료된다.

In [74]:
num =1
while num<4:
    print(num)
    num = num +1

1
2
3

#### break명령
- while 반복문에서 조건식 위치에 True를 입력하면 조건식이 항상 참이므로 들여쓰기 된 명령문들은 무한반복하며 실행된다.
- 반복문을 빠져나오기 위해 break 명령문을 사용한다.

In [77]:
num = 1
double = []
while True:
    double.append(num*2)
    if len(double)==3:
        break
    num +=1

print(double)

[2, 4, 6]

#### continue 명령
- while  반복문에서 continue 명령 뒤에 오는 나머지 코드를 실행하지 않고 조건식을 판별하는 while문의 처음으로 돌아가게 된다
- while 반복문을 종료하고 밖으로 나오는 break 명령과 구별해야한다!

In [78]:
# 1~45까지 숫자 중에서 로또 번호 6개를 추출하는 코드
num_range = range(1,46)
num_list = list(num_range)
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [79]:
# random 모듈을 이용하여 난수 발생

import random
random.shuffle(num_list)
print(num_list)

[8, 19, 26, 30, 13, 4, 27, 28, 6, 40, 25, 41, 32, 39, 21, 34, 33, 16, 20, 18, 35, 1, 7, 31, 14, 5, 12, 44, 17, 22, 10, 11, 42, 45, 38, 23, 9, 2, 43, 24, 29, 15, 36, 3, 37]

In [80]:
# 빈 리스트를 만들어 lotto 변수에 할당한다.
# while 반복문은 lotto 리스트에 들어 있는 원소 개수 6개 이하로 조건을 준다.

lotto = []

while len(lotto) < 6:
    random.shuffle(num_list)
    num_selected = num_list[0]
    if num_selected in lotto:
        continue # 로또에서 선택된 번호가 lotto리스트 안에 들어있을 경우에 다시 돌아가게 설정.
    lotto.append(num_selected)
    print(num_selected)

print(lotto)

33
38
30
34
4
28
[33, 38, 30, 34, 4, 28]

#### 예외처리 (try-except)

In [81]:
# 딕셔너리 정의
data = {'name':'Jay', 'age': 20, 'grade': [3.0,4.0,3.5,4.2]}
data

{'name': 'Jay', 'age': 20, 'grade': [3.0, 4.0, 3.5, 4.2]}

#### data 딕셔너리에 없는 키를 사용하면 오류 발생
- data['address']

In [83]:
# data 딕셔너리에 없는 키를 사용하면 오류 발생
data['address']

KeyError: 'address'

- data 딕셔너리에 address라는 키가 존재하면 매칭된 값을 출력하고, 오류가 발생하면 출력문으로 정보가 없습니다 출력해주기

In [84]:
data = {'name':'Jay', 'age': 20, 'grade': [3.0,4.0,3.5,4.2]}
try:
    print("주소:", data['address'])
except:
    print("주소 정보가 없습니다.")

주소 정보가 없습니다.

- 오류 발생 여부와 관계없이 반드시 실행해야 하는 코드가 있을 때는 finally구문을 추가한다.

In [86]:
#
data = {'name':'Jay', 'age': 20, 'grade': [3.0,4.0,3.5,4.2]}
try:
    print("이름:", data['name'])
except:
    print("이름 정보가 없습니다.")
finally:
    print("모든 작업이 완료되었습니다.")

이름: Jay
모든 작업이 완료되었습니다.

#### 함수
- 사용자 정의 함수
- 예약어 def 사용하여 괄호() 안에는 매개변수를 써주고 콜론(:)을 끝부분에 입력한다.
- return 명령으로 반환값을 반환받는다.

In [87]:
# 나머지 계산 함수 만들기

def cal_modulo(a,b):
    temp = a%b
    return temp

cal_modulo(5,3)

2

In [88]:
modulo = cal_modulo(10,3)
print(modulo)

1

In [89]:
# (a,b)와 같은 형태로 2개의 숫자를 원소로 갖는 투플을 사용하면, cal_modulo 함수의 매개변수인 a,b에 값을 전달할 수 있다.

num_pairs = [(5,3),(2,2),(10,3)]
for a,b in num_pairs:
    modulo = cal_modulo(a,b)
    print(modulo)

2
0
1

In [91]:
# 2개의 숫자 쌍을 원소로 갖는 리스트를 입력받아, 각 숫자 쌍에 대한 나머지 연산의 결과를 딕셔너리 형태로 저장하는 함수 생성하기

def cal_paris_modulo(num_paris_list):
    result = {}
    for a,b in num_paris_list:
        modulo = a%b
        result[(a,b)] = modulo
    return result

mod_pairs = cal_paris_modulo(num_pairs)
mod_pairs

{(5, 3): 2, (2, 2): 0, (10, 3): 1}

In [92]:
# 함수의 연산을 처리하는 코드 블록에 다른 함수를 불러와 사용할 수 있다.

def print_mod_pairs():
    print(cal_paris_modulo(num_pairs))

print_mod_pairs()

{(5, 3): 2, (2, 2): 0, (10, 3): 1}

#### lambda 함수

In [94]:
#숫자를 입력받아 1을 더한 값을 출력값으로 반환하는 add_one 함수를 정의해보자.

def add_one(num):
    return num+1

answer = add_one(1)
print(answer)

2

In [96]:
# for 반복문을 사용하여 3개의 숫자를 순서대로 add_one 함수에 입력하고 결과값을 리스트의 원소로 추가한다.

add_one_list = []

for x in [1,2,3]:
    y = add_one(x)
    add_one_list.append(y)

print(add_one_list)

[2, 3, 4]

In [97]:
# 람다 함수를 사용하는 이유는 함수를 간단한 표현으로 정의할 수 있기 때문이다.
# lambda 입력값(x) : 출력값(y)로 정의한다.

add_one_lambda = []
add_func = lambda x:add_one_lambda.append(x+1)

for x in [1,2,3]:
    add_func(x)

print(add_one_lambda)

[2, 3, 4]

In [98]:
# 두 개의 입력값 x,y를 받아 덧셈을 하는 람다 함수를 정의한다.

new_add_func = lambda x,y :x+y
answer = new_add_func(2,3)
print(answer)

5

#### 파이썬 내장 함수

In [99]:
# sum 함수
# 원소들의 합계를 구한다.
numbers = [1,2,3,4,5,6,7,8,9,10]
sum(numbers)

55

In [100]:
# max 함수
# 원소 중에서 최대 값을 찾는다.
max(numbers)

10

In [101]:
# min 함수
# 원소 중에서 최소 값을 찾는다.
min(numbers)

1

In [102]:
# len 함수
# 원소의 개수, 문자열의 길이를 계산한다.

len(numbers)

10

In [103]:
# enumerate 함수
# 리스트, 튜플 등 원소값에 순서(인덱스)가 있는 자료형을 입력받아 개별 원소를 인덱스 숫자와 함께 반환해준다.

for i, num in enumerate(numbers):
    print(i,num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [104]:
# range 함수
# 입력 값 범위에 해당하는 정수의 배열을 만든다.

range(10)

range(0, 10)

In [105]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [106]:
# list 함수
# 입력받은 데이터를 리스트로 변환한다.

print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [107]:
# eval 함수
# 문자열을 입력받아 파이썬 코드로 변환하여 실행한다.

eval('print(numbers)')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [108]:
# map 함수
# 여러 개의 원소를 갖는 자료형(리스트, 튜플)과 이들 원소를 입력값으로 받는 함수를 매개변수로 갖는다.

add_one = lambda x:x+1
results = map(add_one, numbers)
print(list(results))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [109]:
# filter 함수
# map함수와 비슷하게 반복 가능한 여러 원소를 갖는 자료형과 각 원소를 입력받을 수 있는 함수를 매개변수로 입력받는다.

even_num = lambda x:x%2==0
results = filter(even_num, numbers)

print(list(results))

[2, 4, 6, 8, 10]

In [111]:
# int 함수
# 실수를 정수형으로 변환한다.

int(3.14)

3

In [112]:
# str함수
# 입력값을 문자열 자료형으로 변환한다.

str(3.14)

'3.14'

In [113]:
# round 함수
# 숫자를 입력받아 반올림 한다
round(3.14)

3

In [114]:
# reversed 함수
# 원소들이 위치하는 순서를 정반대로 뒤집어 준다.

numbers_reversed = reversed(numbers)
print(list(numbers_reversed))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [115]:
# sorted 함수
# 배열의 순서를 오름차순으로 정렬한다.

sorted([3,2,1])

[1, 2, 3]

In [116]:
# zip함수
# 원소 개수가 같은 자료형들에 대하여 각 원소들을 인덱스 순서대로 매핑하여 짝을 짓는다.

chars = ['a','b','c']
nums = [1,2,3]

paris = zip(chars,nums)
print(list(paris))

[('a', 1), ('b', 2), ('c', 3)]

#### 클래스
- 여러 개의 함수를 내부 메소드로 지정할 수 있다
- 다양한 자료형 데이터를 내부 속성으로 가질 수 있다.

In [117]:
def add(num1,num2):
    return num1+num2

add(1,2)

3

In [121]:
# class를 정의하는 에약어로 예약어 상용후 클래스 이름 뒤에 콜론(:)을 붙힌다.
# __init__ 함수는 클래스 객체가 생성될 때 자동으로 실행된다.


class Calculator:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
        self.result= 0

    def add(self):
        self.result = self.num1 + self.num2
        return self.result


# 객체 사용법

cal = Calculator(1,2)

# 메소드 사용 전 결과값
print(cal.num1, cal.num2, cal.result)


# 메소드 사용 후 결과값 
cal.add()
cal.result

1 2 0

3

In [123]:

class Calculator:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
        self.result= 0

    def add(self):
        self.result = self.num1 + self.num2
        return self.result

    def subtract(self):
        self.result = self.num1 - self.num2
        return self.result

    def multiply(self):
        self.result = self.num1 * self.num2
        return self.result
    
    def divide(self):
        self.result = self.num1 /self.num2
        return self.result

    def change(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
        print("num1:", self.num1)
        print("num2:", self.num2)

In [124]:
cal2 = Calculator(1,2)

print(cal2.num1, cal2.num2)
print(cal2.add())
print(cal2.subtract())
print(cal2.multiply())
print(cal2.divide())

cal2.change(3,2)
cal2.add()

1 2
3
-1
2
0.5
num1: 3
num2: 2

5