#### 071 
- "my_variable 이름의 비어있는 튜플을 만들라.

In [2]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

#### 072
- 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

In [3]:
movie = ("닥터 스트레인지", "스플릿","럭키")

#### 073
- 숫자 1 이 저장된 튜플을 생성하라.

In [4]:
num = (1)

#### 074
- 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.
- t = (1, 2, 3)
- t[0] = 'a'

#### tuple의 포함되는 값은 값을 변경할수 없으며 t[0]에 값을 수정할수 없음

#### 075
- 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

In [6]:
t = (1,2,3,4)
print(t)

(1, 2, 3, 4)

In [7]:
t = ('a','b','c')
t = ('A',"B","c")

In [8]:
interest = ['삼성전자','LG전자','SK Hynix']
interest.dtype('tuple')

AttributeError: 'list' object has no attribute 'dtype'