11.삼성전자라는 변수로 50,000원을 바인딩해보세요.

In [2]:
samsungE = 50000
week =10
sumAll = samsungE*week
print(sumAll)

500000

In [7]:
countMoney = 298000000000000
nowPrice = 50000
per = 15.79

print(countMoney, type(countMoney))
print(nowPrice, type(nowPrice))
print(per, type(per))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [12]:
s = "hello! "
t = "python"
print(s+t)

hello! python

In [13]:
print(2+2*3)

8

In [15]:
a = "15.79"
a = float(a)
print(type(a))

<class 'float'>

In [16]:
money = 48584
month = 36

result = money * month
print(result)

1749024

21. 문자열 인덱싱

- letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

In [24]:
letters = 'python'
print(letters[0], letters[2])

p t

22. 문자열 인덱싱

- 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

In [26]:
licencse_plate = "24가 2210"
num = licencse_plate[-5:]
print(num)

 2210

23. 문자열 인덱싱

- 아래의 문자열에서 '홀' 만 출력하세요.

In [23]:
string = "홀짝홀짝홀짝"
a = string[::2]
print(a)

홀홀홀

24. 문자열 슬라이싱

- 문자열을 거꾸로 뒤집어 출력하세요.

In [28]:
str = "python"

# 문자열[시작점 : 종료점 : 증감]
str[-1::-1]

'nohtyp'

25. 문자열 치환

- 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

In [32]:
phone_number = "010-1111-2222"
number = phone_number.replace("-"," ")
print(number)

010 1111 2222

26. 문자열 치환

- 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

In [33]:
phone_number = "010-1111-2222"
number = phone_number.replace("-","")
print(number)

01011112222

27. 문자열 치환

- url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

In [36]:
url = "http://sharebook.kr"
domain = url[-2:]
print(domain)

kr

28. 문자열은 immutable
- 아래 코드의 실행 결과를 예상해보세요.


lang = 'python'
lang[0] = 'P'
print(lang) ---> 실행 불가

29. replace 메서드
- 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

In [40]:
str = 'abcdef2a354a32a'
afterStr = str.replace('a','A')
print(afterStr)

Abcdef2A354A32A

30. replace 메서드
- 아래 코드의 실행 결과를 예상해보세요.

In [42]:
string = 'abcd'
afterString=string.replace('b','B')
print(afterString)

aBcd