#### 객체 간 연산

In [1]:
import pandas as pd

In [2]:
data = [[1,10,100],[2,20,200],[3,30,300]]
col = ['col1','col2','col3']
row = ['row1','row2','row3']

data = pd.DataFrame(data, columns=col, index=row)
print(data)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
row3     3    30   300

In [4]:
# 스칼라 값 더하기

result = data.add(1)
print(result)

      col1  col2  col3
row1     2    11   101
row2     3    21   201
row3     4    31   301

#### DataFrame 객체를 더하기

In [5]:
data2 = [[3],[4],[5]]

df2 = pd.DataFrame(data = data2, index=['row1','row2','row3'], columns=['col1'])
print(df2)

      col1
row1     3
row2     4
row3     5

In [6]:
result = data.add(df2)
print(result)

      col1  col2  col3
row1     4   NaN   NaN
row2     6   NaN   NaN
row3     8   NaN   NaN

In [ ]:
# fill_value -> 오류를 출력 가능핫게